body {
    background-color: bisque;
}

.title {
    display: flex;
    justify-content: center;
}

input {
    background-color: beige;
}

.form {
    display: flex;
    justify-content: center;
    margin: 9px;
   
}

.text {
    color: brown;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 400;
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.button {
    display: inline-flex;
    margin: 10px;
    text-decoration: none;
    border: 2px solid #000;
    position: relative;
    overflow: hidden;
    font-size: 17px;
    line-height: 20px;
    padding: 12px 30px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase; 
    font-family: 'Roboto', Тahoma, sans-serif;
    background: brown;
    transition: box-shadow 0.3s, transform 0.3s;
    cursor: pointer;
}
